@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Dark theme */
:root {
    --main-color: #0056b3;
    --bg-color: #0d0f13;
    --bg-tint: #1b1e2a;
    --text-color: #28d4f6;
    --text-color-secondary: #ccc;
}

/* Light theme */
:root[data-theme="light"] {
    --bg-color: #Bdf0f8;
    --bg-tint: #E6fbff;
    --text-color: #05363d;
    --text-color-secondary: #1f1f1f;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* General Styles */
a {
    color: var(--text-color);
    text-decoration: none;
}


/* Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 0;
}

header span {
    font-size: 22px;
    font-weight: bold;
}

.nav-wrapper {
    display: flex;
}

.switch-theme {
    background: var(--bg-tint);
    border: 0;
    color: var(--text-color-secondary);
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.switch-theme:hover {
    color: var(--text-color);
}

.top-nav {
    background: var(--bg-tint);
    padding: 10px 20px;
    border-radius: 10px;
}

.top-nav ul {
    list-style: none;
    display: flex;
    column-gap: 15px;
}

.top-nav .nav-button {
    color: var(--text-color-secondary);
}

.top-nav .nav-button:hover {
    color: var(--text-color);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.intro {
    margin-top: 100px;
    text-align: center;
}

.intro .title {
    font-size: 3rem;
    margin-bottom: 15px;
}

.intro .subtitle {
    font-size: 1.5rem;
    margin-bottom: 25px;
    color: var(--text-color-secondary);
}

.intro .tagline {
    margin-bottom: 10px;

}


